@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');

html {
    --space-l: 40px;
    --space-m: 20px;
    --space-s: 10px;
    --space-xxxl: 100px;
    --color-highlight: #CC8053;
    --color-grey-ligth: rgb(200, 200, 200);
    --color-grey-medium: rgb(120, 120, 120);
    --color-grey-dark: rgb(50, 50, 50);
    --color-white: white;
    --box-shadow: 0 6px 20px 0 rgb(0 0 0 / 19%);
    --box-shadow-l: 0 6px 20px 0 rgb(0 0 0 / 49%);
    --font-family1: Montserrat, sans-serif;
    --font-family2: 'Yeseva One', cursive;
}

body {
    margin: 0;
    font-family: var(--font-family1);
    font-size: 14px;
}

.container {
    max-width: 1160px;
    margin: 0 var(--space-m);
}

h1, h2, h3 {
    font-family: var(--font-family2);
    font-weight: normal;
    margin: 0;
}

h1 {
    font-size: 20px;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 20px;
    color: var(--color-highlight);
}

main img {
    box-shadow: var(--box-shadow);
}

input, textarea {
    display: block;
    width: 100%;
    outline: none;
    border: none;
    margin-bottom: var(--space-m);
    border-bottom: 1px solid var(--color-grey-medium);
    background: none;
    margin-top: var(--space-s);
}
#map img {
    object-fit: cover;
    width: 100%;
    margin: var(--space-m) 0;
}


label {
    color: var(--color-grey-medium);
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 40px;
    text-decoration: none;
    background-color: var(--color-grey-dark);
    color: var(--color-white);
    font-size: 14px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.highlight {
    color: var(--color-highlight);
    white-space: nowrap;
}

.align-right {
    display: flex;
    justify-content: flex-end;
}

/* header start */
header {
    position: fixed;
    z-index: 2;
    width: 100%;
    opacity: .95;
    background: var(--color-white);
    box-shadow: var(--box-shadow);
}

nav {
    position: relative;
}

nav ul {
    margin: 0;
    list-style-type: none;
}

nav li {
    margin-left: 0;
    padding: var(--space-s) 0;
    border-bottom: 1px solid var(--color-grey-medium);
}

nav li.current {
    color: var(--color-highlight);
}


nav a {
    text-decoration: none;
    color: inherit;
    transition: all .4s;
    display: inline-block;
}

#sub-menu li {
    background: var(--color-grey-ligth);
    padding-left: var(--space-s);
}

nav a:hover {
    color: var(--color-highlight);
    transform: scale(1.05);
}


#logo-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#burger img {
    width: 60px;
    height: auto;
}

#logo img {
    height: 60px;
    width: auto;
    margin: var(--space-s) 0;
    transition: all .4s;
}

#logo img:hover  {
    color: var(--color-highlight);
    transform: scale(1.1);
}

#menu {
    bottom: var(--space-m);
    right: 0;
    font-size: 20px;
    font-weight: 600;
}

#sub-menu {
    top: var(--space-m);
    right: 0;
    font-size: 16px;
}

#menu, #sub-menu {
    width: 100%;
    margin: var(--space-m) 0;
    padding-inline-start: 0;
}

nav.close #menu, nav.close #sub-menu {
    display: none;
}

/* header end */

/* hero start */
#hero {
    position: relative;
}

#hero img {
    object-fit: cover;
    width: 100%;
}

.hero-text {
    bottom: 10%;
    background: var(--color-grey-dark);
    width: 100%;
    color: var(--color-white);
    padding: var(--space-m) 0;
    margin-bottom: var(--space-m);
}
/* hero end */

/* content start */
main {
    padding-top: var(--space-xxxl);
}

.content {
    display: grid;
    margin-top: var(--space-m);
    margin-bottom: var(--space-l);
    gap: var(--space-m);
    grid-template-columns: 1fr;
}

.content img {
    width: 100%;
}

.content .full-width {
    grid-column: 1 / 2;
}

.content .align-center {
    align-self: center;
}

.content ol {
    margin: 0;
    padding-inline-start: 15px;
    font-size: 16px;
}

.content .pflegetips ol {
    margin-top: var(--space-m);
}

.content .pflegetips ol li {
    margin-top: var(--space-s);
}

.content.stimmen p {
    margin: 0;
    background: var(--color-grey-ligth);
    padding: var(--space-s);
}

.content.grid3 {
    grid-template-columns: repeat(2, 1fr);
}

.content.grid3 .full-width{
    grid-column: 1 / 3;
}

.content.chron > div {
    padding-bottom: var(--space-m);
    border-radius: 5px;
    font-family: var(--font-family2);
}

.content.chron > div:not(:first-child) {
    padding-top: var(--space-m);
}


.content.chron > div:not(:first-child) {
    text-align: center;
}

.content.chron .month {
    color: var(--color-white);
    box-shadow: var(--box-shadow);
    cursor: pointer;
    transition: box-shadow .4s;
}

.content.chron .month:hover {
    box-shadow: var(--box-shadow-l);
}
.chron_hover:hover {transform: scale(1.1)}

.white-spaces-pre {
    white-space: pre-line;
}

.with-background {
    background: var(--color-grey-ligth);
    padding-top: var(--space-m);
    padding-bottom: var(--space-m);
}

.with-background img {
    width: 100%;
    font-family: var(--font-family1);
}

/* content end */

/* modal start */
.modal {
    position: fixed;
    width: 70%;
    top: -50%;
    left: 50%;
    transition: all .4s;
    transform: translate(-50%, -50%);
    font-size: 12px;
    font-family: var(--font-family1);
    background: var(--color-grey-ligth);
    padding: var(--space-m);
    color: initial;
    text-align: left;
    box-shadow: var(--box-shadow-l);
    opacity: 0;
    z-index: 101;
    line-height: 150%;
}

.modal.show {
    top: 50%;
    opacity: 1;
}

#modal-overlay {
    transition: all .4s;
    z-index: 100;
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--color-grey-dark);
    opacity: 0;
}

#modal-overlay.show {
    top: 0;
    opacity: .7;
}

/* modal end */

/* footer start */
footer {
    background: var(--color-grey-dark);
    color: var(--color-white);
    font-size: 12px;
    padding: var(--space-m) 0;
}

footer address {
    display: none;
    font-style: normal;
}

footer > div {
    display: flex;
    gap: var(--space-m);
}

footer > div > * {
    flex-grow: 1;
}

footer img {
    height: 40px;
    width: auto;
    filter: invert(1);
}

#links {
    display: flex;
    align-items: center;
    gap: var(--space-m);
    justify-content: flex-end;
}
/* footer end */

@media (min-width: 576px) {
    .content {
        grid-template-columns: repeat(2, 1fr);
    }

    .hero-text {
        z-index: 1;
        position: absolute;
        background: rgba(60, 60, 60, .4);
    }

    .content.stimmen {
        grid-template-columns: repeat(1, 1fr);
    }

    .content .full-width {
        grid-column: 1 / 3;
    }

    .content.stimmen .full-width {
        grid-column: 1 / 2;
    }

    .pflegetips {
        grid-column: 1 / 3;
    }

    .modal {
        width: 50%;
    }
}

@media (min-width: 768px) {
    body {
        font-size: 16px;
    }

    main {
        padding-top: 0;
    }


    header {
        position: fixed;
        top: 0;
    }

    #logo img {
        height: 90px;
    }

    #burger {
        display: none;
    }

    nav.close #menu, nav.close #sub-menu {
        display: flex;
        width: auto;
        position: absolute;
        margin: 0;
    }

    nav.close li {
        margin-left: var(--space-m);
        border: none;
        padding: 0;
    }

    #sub-menu li {
        background: none;
    }

    .content.stimmen, .content.kontakt, .content.chron {
        padding-top: 140px;
    }

    .content.grid3 {
        grid-template-columns: repeat(4, 1fr);
    }

    .content.grid3 .full-width {
        grid-column: 1 / 5;
    }

    footer address {
        display: block;
    }

    footer img {
        height: 35px;
    }

    h1 {
        font-size: 30px;
    }

    .modal {
        font-size: 14px;
        width: calc(50% - 65px);
    }
}


@media (min-width: 1200px) {
    .container {
        margin-left: auto;
        margin-right: auto;
    }

    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 30px;
    }

    .content.grid2 {
        grid-template-columns: repeat(4, 1fr);
    }

    .content.grid2 .full-width {
        grid-column: 1 / 5;
    }
.content ol {
        font-size: 14px;
    }

.pflegetips ol {
    font-size: 16px;
    }

    .content.stimmen {
        grid-template-columns: repeat(2, 1fr);
    }

    .content.stimmen .full-width {
        grid-column: 1 / 3;
    }

    .content.stimmen img {
        display: none;
    }

    .content.stimmen .foots {
        grid-row: 3 / 5;
        grid-column: 2 / 3;
        background: url("../img/stimmen.jpg");
        background-size: cover;
        background-position: bottom;
    }

    .pflegetips {
        margin-top: var(--space-xxxl);
        grid-column: 1 / 2;

    }


    .content.grid3 {
        grid-template-columns: repeat(6, 1fr);
    }

    .content.grid3 .full-width {
        grid-column: 1 / 7;
    }

    footer {
        font-size: 14px;
    }

    footer img {
        height: 40px;
    }

    .modal {
        font-size: 16px;
        width: 333px;
    }
}
