body {
    margin: 10px 0 0;
    font-family: sans-serif, Montserrat;

}

Schriftfamilie: {
    'Yeseva One',
    kursiv;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 0 10px;
}


h1,
h2,
h3 {
    font-family: Yeseva Elins;

}


h1 {
    font-size: 20px;

}

h1,
h2,
h3 {
    font-weight: 400;
    grid-column: 1/-1;
}

h3 {
    color: #D97D48;
    font-weight: bold;
}

p {
    font-weight: 300;
    color: #212121;
    line-height: 1.5;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 40px;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 0.5s;
    background-color: #403C3B;
    color: white;
    font-size: 14px;
    border: none;
}

/* ###########################################
        NAVI DESIGN
############################################# */

header {
    background-color: white;
    box-shadow: 0 6px 20px 0 rgb(0 0 0 / 19%);
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
}

nav {
    position: relative;
    z-index: 999;

}

nav div,
nav ul {
    grid-column: span 4;
}

nav div img {
    padding: 10px;
    height: 60px;
}

nav div {
    display: flex;
    justify-content: space-between;
    background-color: white;

}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: white;
    position: absolute;
    width: calc(100% - 20px);
    left: 10px;
    top: 54px;
}

nav ul li.current a {
    color: #408FFF;
    font-weight: bold;
}

nav ul a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: black;
    border-bottom: 1px solid white;
}

nav ul.sub-nav {
    background-color: #cc641f;
    top: 220px;
}

nav.close ul {
    display: none;
}


/* ###########################################
        FOOTER DESIGN
############################################# */

footer {
    background-color: #313131;
}

footer div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 12px;
    height: 100px;

}

footer div div {
    width: 160px;

}

div.f1 {
    width: 450px;

}

.f1 p {
    color: white;
}

address,
.telefon {
    display: none;
}

footer div img {
    display: block;
    width: 30px;
    filter: invert(1);
}


footer address {
    font-style: normal;
}

.smedia {
    grid-column: -1;
    padding-right: 10px;

}

/* ###########################################
        JUBILÄUM DESIGN
############################################# */

.centered {
    color: white;
    background-color: #403C3B;
    grid-column: span 4;
    box-sizing: border-box;
    padding-left: 20px;
    width: 100%;
}

.centered h2 {
    font-size: 16px;
}

#chronologie div {
    grid-column: span 4;
}

#chronologie {
    padding: 20px;
}

#chronologie div.outer {
    grid-column: span 4;
    padding: 10px;

}

div.outer img {
    width: 100%;
}

section img {
    box-shadow: 0 6px 20px 0 rgb(0 0 0 / 19%);
}

/* ###########################################
        LEISTUNGEN DESIGN
############################################# */





/* ###########################################
        MAßSCHUE
############################################# */
#bild {
    background-image: url(../img/Bild_09.jpg);
    background-size: cover;
    padding: 0;
    margin-left: 10px;
    margin-right: 10px;

}


/* ###########################################
        STIMMEN
############################################# */



/* ###########################################
        PFLEGETIPS
############################################# */



/* ###########################################
        KONTAKT
############################################# */
#kontakt {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    padding: 20px;
}

.text-kontakt {
    display: none;
    margin-top: 0px;
}

.karte {
    background-image: url("../img/map.jpg");
    background-size: cover;
    background-position: center;
    grid-column: span 4;
    padding: 0;
    height: 190px;
}

form {
    display: grid;
    margin-top: 60px;
    grid-column: span 4;

}

form input,
textarea {
    grid-column: span 4;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid grey;
    margin-bottom: 30px;
}


.adresse {
    display: grid;
    grid-column: span 4;
    font-size: 12px;

}










/* ###########################################
        TABLET
############################################# */

@media (min-width:768px) {
    body {
        margin-top: 80px;
    }


    .grid {
        grid-template-columns: repeat(8, 1fr);
        max-width: 960px;
        margin: 0 auto;
    }

    nav ul,
    nav.close ul {
        display: flex;
        justify-content: flex-end;
        position: static;
        width: auto;
    }

    nav ul a {
        border-bottom: 0;
    }



    nav div {
        grid-row: span 2;
        background-color: white;
    }

    nav ul {
        grid-column: span 8;
    }


    nav div a:last-of-type img {
        display: none;
    }

    nav div img {
        height: 90px;
    }

    nav ul.sub-nav {
        background-color: white;
        grid-row: 1;
        grid-column: 5/13;
    }

    nav ul.sub-nav a {
        font-size: 0.8em;
    }

    h1 {
        font-size: 40px;
    }

    .f1 {
        width: 350px;

    }


    address,
    .telefon {
        display: flex;

    }


    .centered {
        position: absolute;
        bottom: 60px;
        opacity: 0.80;
        grid-column: 1/-1;
        padding: 20px;
    }

    #chronologie {
        padding: 40px;

    }

    #chronologie div.outer {
        margin-top: 50px;
    }

    #chronologie {
        margin-top: 160px;

    }


    .centered h2 {
        font-size: 30px;
    }

    #chronologie div {
        padding-right: 20px;
    }



    .text-kontakt {
        display: block;
        grid-column: 1/-1;

    }
}


@media (min-width:1280px) {

    .grid {
        grid-template-columns: repeat(12, 1fr);
        padding: 0 10px;
        max-width: 960px;
        margin: 0 auto;
    }



    #chronologie div.outer,
        {
        grid-column: span 6;

    }


    #chronologie {
        padding: 20px;
    }

    #chronologie div.outer {
        margin-top: 10px;
    }





}
